[workspace]
resolver = "2"
members = [
  "crates/gox-common",
  "crates/gox-syntax",
  "crates/gox-analysis",
  "crates/gox-cli",
  "crates/gox-codegen-llvm",
  "crates/gox-codegen-wasm",
  "crates/gox-codegen-vm",
  "crates/gox-vm",
  "crates/gox-tests",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT"
